{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row p-5 mt-5" >
</div>
<div class="row mt-5 ">
<div class="col-md-4 border  p-3 ms-5 mb-5">

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> Apple Juice</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Carrot Juice</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Cheese Burger</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Chicken Roast</button>
	
	
	  
	    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-a1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Chinese Soup</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-a2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cold Coffee</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-a3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Cold Drink</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-a4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cupcake</button>
	
	
	    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-b1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Doughnut</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-b2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drum Stick</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-b3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Egg Fry</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-b4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fish Fry</button>
	
	<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-c1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Fresh Juice</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-c2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Hot Dogs</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-c3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ice Cream</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-c4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Maggi</button>
	
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Noodles</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Pastry</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pizza</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-d4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Potato Fries</button>
	
	<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-e1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Prawns</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-e2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Champagne</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-e3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Shawarma</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-e4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Soda water</button>
	
	 <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-f1" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Steam Roast</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-f2" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tea</button>

  	
		
  </div>
  <div class="tab-content image1" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/applejuice.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/carrotjuice.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/cheeseburger.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/chickenroast.jpg" height="300" width="250" /></div>
	
	
    <div class="tab-pane fade" id="v-pills-a1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/chinesesoup.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-a2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/coldcoffee.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-a3" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/colddrinks.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-a4" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/cupcake.jpg" height="300" width="250" /></div>
	
	<div class="tab-pane fade" id="v-pills-b1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/doughnuts.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-b2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/drumstick.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-b3" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/eggfry.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-b4" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/fishfry.jpg" height="300" width="250" /></div>
	
	<div class="tab-pane fade" id="v-pills-c1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/freshjuice.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-c2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/hotdog.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-c3" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/icecream.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-c4" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/maggi.jpg" height="300" width="250" /></div>
	
	<div class="tab-pane fade" id="v-pills-d1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/noodles.jpg" height="300" width="250" /></div>
   
    <div class="tab-pane fade" id="v-pills-d2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/pastry.jpeg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-d3" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/pizzaimage.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-d4" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/potatofries.jpg" height="300" width="250" /></div>
	
		<div class="tab-pane fade" id="v-pills-e1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/prawn.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-e2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/champagne.jpg" height="300" width="250" /></div>

    <div class="tab-pane fade" id="v-pills-e3" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img src="../static/image/shawarma.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-e4" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img src="../static/image/sodawater.jpg" height="300" width="250" /></div>
	
			<div class="tab-pane fade" id="v-pills-f1" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="../static/image/steamroast.jpg" height="300" width="250" /></div>
    <div class="tab-pane fade" id="v-pills-f2" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img src="../static/image/tea.jpg " class="rounded" height="300" width="250" /></div>
	
  </div>
</div>
</div>



<div class="col-md-6  ms-5 mb-5">
<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo11.png" />
</div>
<nav>
<ul class="nav">
<li><a href="#" class="nav-link text-dark"><h3>Domino's Pizza</h3></a></li>
</ul>
</nav>
</a><p>Drum Stick, Pizza, Potato Fries</p>
<h5>HARYANA , HISAR &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle" style="color:orange;"></i>  40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>

<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo2.png" />	
</div>
<nav>
<ul class="nav">
<li><a href="/register/" class="nav-link text-dark"><h3>McDonalds</h3></a></li>
</ul>
</nav>
<p>Chinese Soup, Cold Coffee, Drum Stick, Ice Cream</p>
<h5>HARYANA , HISAR &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle"style="color:orange;"></i>  40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>

<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo13.png" />
</div>	
<nav>
<ul class="nav">
<li><a href="#" class="nav-link text-dark"><h3>Grill Masters</h3></a></li>
</ul>
</nav>
<p>Apple Juice, Subs , Shakespeare, Wraps</p>
<h5>HARYANA , HISAR  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle" style="color:orange;"></i>  40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>

<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo14.png" />	
</div>
<nav>
<ul class="nav">
<li><a href="#" class="nav-link text-dark"><h3>Subway</h3></a></li>
</ul>
</nav>
<p>Carrot Juice, Egg Fry, Fish Fry, Hot Dogs, Pastry</p>
<h5>HARYANA , HISAR &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle" style="color:orange;"></i>  40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>

<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo5.png" />	
</div>
<nav>
<ul class="nav">
<li><a href="#" class="nav-link text-dark"><h3>Burger King</h3></a></li>
</ul>
</nav>
<p>Cheese Burger, Pizza, Shawarma</p>
<h5>HARYANA , HISAR &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle" style="color:orange;"></i> 40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>
 
<div class="border mb-3 p-3">
<div data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
<img width="100px" height="80px" src="../static/image/logo6.png" />	
</div>
<nav>
<ul class="nav">
<li><a href="#" class="nav-link text-dark"><h3>Burger Harbour</h3></a></li>
</ul>
</nav>
<p>Hot Dogs, Pizza, Cold Coffee </p>
<h5>HARYANA , HISAR  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/register/"  class="btn btn-primary">Order Now</a></h5>
<p>Min Order : ₹ 100
&emsp;&emsp;<i class="fa fa-motorcycle" style="color:orange;"></i> 40 min
&emsp;&emsp;<i class="fa fa-spinner fa-spin" style="font-size:20px"></i>&emsp;40 min</p>
</div>







</div>
<div class="col-md-2">

</div>



</div>




















{% endblock %}






















